
    html, body {
      height: 100%;
      font-family: proxima-nova, sans-serif;
      color: #fff;
    }

    * {
      margin: 0;
      padding: 0;
    }

    /*Chrome, Safari, Opera*/
    body ::-webkit-scrollbar { width: 0 !important }  

    /*Firefox & IE/Edge */
    body { overflow: -moz-scrollbars-none; scrollbar-width: none; -ms-overflow-style: none; }

    body {
      background: url(./src/assets/bg.png) bottom right/cover no-repeat fixed;
    }

    body.linear-gradient {
      background: rgba(1,130,224,1);
    }

    body.solid-partial-bg {
      background: #041C2C;
    }

    @media (min-width: 1290px) {
      body.solid-partial-bg {
        background: linear-gradient(to bottom,#041C2C 0%, #041C2C 525px,rgba(1,130,224,0) 525px) no-repeat, url(./src/assets/bg.png) bottom right/cover no-repeat fixed;
      }

      body.linear-gradient {
        background: linear-gradient(to bottom, rgba(0,99,207,1) 0%,rgba(1,130,224,1) 70%,rgba(1,130,224,0) 70%) no-repeat, url(./src/assets/bg.png) bottom right/cover no-repeat fixed;
      }
    }